body {
  display: flex;
  justify-content: center;
  .wrapper{
    width: 73%;
  }
}

.header-container {
  padding-top: 40px;
  height: 115px;
  display: flex;
  flex-wrap: wrap;
  .title {
    width: 40%;
    display: flex;
    align-items: center;
    padding-left: 30px;
    #title {
      font-weight: bold;
      font-size: 36px;
    }
  }
  .sub-text {
    width: 40%;
    display: flex;
    flex-direction: column;
    span {
      padding-left: 11px;
    }
  }
  button {
    font-weight: bold;
    height: 60%;
    margin-top: 24px;
    i {
    padding-left: 10px;
    }
  }
  button:hover {
    background: rgba(46, 49, 49, 1);
    color: white;
  }
}


.nav-container {
  display: flex;
  .nav-1 {
    flex-grow: 2;
    ul {
      list-style: none;
      padding: 0;
      display: flex;
      justify-content: start;
    }
    li{
      padding-right: 20px;
      a {
        text-decoration: none;
        button {
          width: 200px;
        }
        :hover{
            background-color: rgba(149, 165, 166, 1);
            color: white;
        }
      }
    }
  }
  .nav-2{
    flex-grow: 1;
    ul {
      list-style: none;
      padding: 0;
      display: flex;
      justify-content: start;
    }
    li{
      a {
        text-decoration: none;
        button {
          width: 200px;
        }
        :hover{
            background-color: rgba(149, 165, 166, 1);
            color: white;
        }
      }
    }
  }
}