body {
  
}

.header-container {
  padding-top: 40px;
  height: 115px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .company-logo{
    width: 13%;
    display: flex;
    align-items: center;
  }
  .company-name {
    width: 30%;
    display: flex;
    align-items: center;
    #parent {
      font-weight: bold;
      font-size: 36px;
    }
    #child {
      font-weight: normal;
      font-size: 18px;
      vertical-align: sub;
    }
  }
  
  .header-sub {
    width: 40%;
    display: flex;
    align-items: center;
  }
}

.separate {
  margin: -10px 0;
  display: flex;
  width: 100%;
  .left {
    display: flex;
    flex-shrink: 3;
    width: 100%;
    justify-content: space-between;
    margin: 50px 25px 50px 100px;
    p {
    height: 20px;
    width: 20px;
    background: orangered;
    }
  }
  .right {
    display: flex;
    flex-shrink: 1;
    width: 100%;
    justify-content: space-between;
    margin: 50px 50px 50px 25px;
    p {
      background: rgba(145, 180, 150, 1);
      height: 20px;
      width: 20px;
    }
  }
}

.main-container {
  margin-top: -95px;
  height: 500px;
  width: 100%;
  // display: flex;
  // .menu {
  //   // border: solid 1px silver;
  //   flex-shrink: 3;
  //   width: 100%;
  //   margin: 50px 25px 50px 100px;
  //   padding-left: 14px;
  //   // text-align: center;
  //   ul {
  //     list-style: none;
  //   }
  // }
  // .main {
  //   // border: solid 1px silver;
  //   flex-shrink: 1;
  //   width: 100%;
  //   margin: 50px 50px 50px 25px;
  // }
}



.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    font-size: 22px;
  }
  .btn {
    border: solid 1px silver;
    padding: 20px 60px;
  }
}



