.img{
  // border: solid 1px silver;
  width: 80%;
  height: auto;
}

.website {
  // border: solid 1px silver;
  height: 650px;
  display: flex;
  flex-direction: column;
}

.navbar {
  // border: solid 1px silver;
  // flex: 1 1 150px;
  // margin: 50px 25px 50px 100px;
  // padding-left: 14px;
}
.showcase {
  // border: solid 1px silver;
  height: 100%;
  padding: 20px;
  // text-align: center;
  // flex: 6 6 150px;
  // margin: 50px 50px 50px 25px;
}

iframe {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}