.img{
  border: solid 1px silver;
  width: 80%;
  height: auto;
}



.website {
  border: solid 1px silver;
  display: flex;
}

.navbar {
  border: solid 1px silver;
  flex: 1 1 150px;
  margin: 50px 25px 50px 100px;
  padding-left: 14px;
}
.showcase {
  border: solid 1px silver;
  text-align: center;
  flex: 6 6 150px;
  margin: 50px 50px 50px 25px;
}

iframe {
  width: 100%;
}