.website {
  height: 650px;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  .navbar{
    display: flex;
    flex-direction: column;
    justify-content: start;
    a{
      h3{
        margin: 0;
      }
    }
  }
  .showcase {
    height: 100%;
    padding: 20px;
    iframe {
      width: 100%;
      height: 100%;
      border-radius: 10px;
    }
  }
}


